.body { 
    height: 100vh;
    width: 100vw;
    display: flex;  
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #ffc0cb;
    margin: 0px;
    border: 1px solid black;
    font-size: 1.5em;
    
}

.button:hover {
    background-color: #e49da9;
}

[data-clear = 'clear'] {
    grid-column: 1 / 3;
}
[data-delete = 'delete'] {
    grid-column: 3 / 5;
}

.main-calculator {
    height: 80vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: lightblue;
    border: 1px solid black;
}

#main-display {
    grid-column: 1 / 5;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-size: 8vmin;
    padding-right: 10px;
    
}